@font-face {
  font-family: 'Coliseum';
  src: url('../ColiseumRR-Medium.ttf') format('truetype');
}

body {font-size: 16px !important;}
.site-branding { top: 15px; }
.site-branding-text { margin-top: 30px; margin-left: 65px; color: black;}
.site-branding .site-title{ float: left;}
.site-branding .site-title a { color: #000 !important; font-size: 31px; font-family: 'Coliseum'; text-transform: uppercase;}
.site-branding .custom-logo-link { float: left; max-width: 50px; margin-right: 15px;}
.slick-slider {	max-height: calc(100vh - 73px);	overflow: hidden;}
.hentry {padding: 0 !important;}
#header-sticky-wrapper.is-sticky .site-header {border-bottom: 1px solid #b7d8e1; box-shadow: 0px 2px 20px #b7d8e1;}
[off-canvas] {background-color: #B7D8E1 !important;}
.mobile-branding {background-color: #B7D8E1 !important; padding: 19px !important;}
.mobile-branding .site-branding .custom-logo-link {display: none !important;}
.mobile-branding .site-title {width: 100%; text-align: center;}
.mobile-menu {margin-top: 20px !important; }
.mobile-menu a {color: #fff !important; font-weight: 700 !important;}
#secondary {
  position: fixed;
  right: 0;
  max-width: 140px;
  top: 140px;
}
.main-navigation ul ul li {background-color: #b7d8e1;}
body.home .site-content > .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
body.home .entry-title {display: none;}
.site-content > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
#primary {
  padding: 0;
}
h1 {
  font-family: 'Coliseum' !important;
}
body.home h2 {
  text-align: center;
  font-size: 2.7em;
  margin-bottom: 30px;
  font-family: 'Coliseum' !important;
  text-transform: uppercase;
}

.section {
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.sect-doriasbaixas {
  }
.sect-doriasbaixas .btn-w {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  text-align: right;
}
.section .link {
  background-color: #B7D8E1;
  color: #000;
  padding: 12px 25px;
  border-radius: 4px;
  text-transform: uppercase;
}

.sect-descubre {
  border-top: 3px solid #B7D8E1;
  border-bottom: 3px solid #B7D8E1;
  margin-bottom: 0;
}
.sect-descubre .txt {margin-bottom: 30px;}
.sect-descubre .imgs {display: inline-block; width: 100%; margin-bottom: 30px;}
.sect-descubre .imgs .i {float: left; width: 25%; padding: 0 10px;}
.sect-descubre .imgs .i img{max-width: 100%;}
.sect-descubre .cata {display: inline-block; width: 100%; margin-bottom: 40px; margin-top: 20px; text-align: center;}

.work-with-us {background-color: #B7D8E1;}

.woocommerce div.product div.images img {max-width: 350px;}
.woocommerce-message {background-color: #b7d8e1;}
.woocommerce-message .button {border: 2px solid white;}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  font-size: 1.5em !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  text-align: center;
}
.wc-image-wrapper {text-align: center !important;}
.woocommerce div.product div.images img {display: inline-block !important;}
.woocommerce div.product p.price, .woocommerce div.product span.price {color: #2d3142 !important;}
.woocommerce div.product .product_title { font-size: 65px !important; margin-top: 0 !important; text-align: center;}
.woocommerce h2 { font-family: 'Coliseum'; font-size: 27px !important; }
.menu-btn-toggle {border: none;}
.woocommerce ul.products li.product .price {color: #B7D8E1 !important;}


.site-footer {background-color: #000 !important; padding: 30px 0 !important;}
.site-footer .rrss {}
.site-footer .rrss .rs {float: left; margin-right: 15px;}
.site-footer .rrss .rs img {max-width: 50px;}

/* TABLETS */
@media (max-width: 768px) {
  .menu-btn-toggle {border: none !important;}
  .branding-container {text-align: center;}
  .site-branding {display: inline-block; margin-left: 0;}
  body.home h2 {font-size: 2.5em !important}
  .do-img-w {text-align: center; margin-bottom: 25px;}
  .do-img { max-width: 40%; display: inline-block; }
  #secondary {top: initial; bottom: 0; left: 0; width: 100%; max-width: 100%; padding: 10px; background-color: #b7d8e1; border-top: 3px solid #000;}
  #secondary .store {width: 50%; float: left; text-align: center}
  #secondary .store img {display: inline-block; max-width: 60px;}
  #secondary .free {width: 50%; float: left; text-align: center}
  #secondary .free img {display: inline-block; max-width: 60px;}
}

/* MOVILES */
@media (max-width: 640px) {
  .main-header {padding: 15px 0 !important;}
  .menu-btn-toggle {border: none !important;}
  .site-branding .site-title a {font-size: 25px !important}
  .woocommerce div.product div.images img {max-width: 70%;}
  .woocommerce div.product .product_title {font-size: 40px !important; line-height: 50px;}
  .sect-descubre .imgs .i {width: 100%; margin-bottom: 15px;}
  .do-img { max-width: 66%; }
}
